/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |  ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  ENT |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | LWR | SPC |   | SPC | RSE  | GUI |
            bindings = <
   &kp TAB   &kp Q       &kp W      &kp E      &kp R       &kp T   &kp Y &kp U       &kp I      &kp O      &kp P          &kp BSPC
   &kp ESC   &hm LCTRL A &hm LALT S &hm LGUI D &hm LSHFT F &kp G   &kp H &hm RSHFT J &hm RGUI K &hm RALT L &hm RCTRL SEMI &kp RET
   &kp LSHFT &kp Z       &kp X      &kp C      &kp V       &kp B   &kp N &kp M       &kp COMMA  &kp DOT    &kp FSLH       &kp RSHFT
                  &kp LGUI &mo 1 &kp SPACE   &kp SPACE &mo 2 &kp RGUI
            >;
        };

        lower_layer {
// -----------------------------------------------------------------------------------------
// |  ~   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
// |      |  _  |  +  |  {  |  }  |  "  |   | LFT | DWN |  UP | RGT |     |      |
// |      |     |     |     |VOLDN|BRIDN|   |     |MUTE |     |     |     |      |
//                    |     |     |     |   |     | ADJ |     |
            bindings = <
   &kp TILDE &kp EXCL   &kp AT   &kp HASH  &kp DLLR     &kp PRCNT    &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
   &trans    &kp UNDER  &kp PLUS &kp LBRC  &kp RBRC     &kp DQT      &trans &trans &trans &trans &trans &trans
   &trans    &trans     &trans   &trans    &kp C_VOL_DN &kp C_BRI_DN &trans   &kp C_MUTE &trans &trans    &trans &trans
                                        &trans &trans       &trans &trans &mo 3 &trans
            >;
        };

        raise_layer {
// -----------------------------------------------------------------------------------------
// |  `   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// |      |  -  |  =  |  [  |  ]  |  '  |   |     |     |     |     |     |      |
// |      |     |     |     |VOLUP|BRIUP|   |     |MUTE |     |     |     |      |
//                    |     | ADJ |     |   |     |     |     |
            bindings = <
   &kp GRAVE &kp N1    &kp N2    &kp N3    &kp N4       &kp N5       &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans
   &trans    &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT     &kp SQT      &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans    &trans    &trans    &trans    &kp C_VOL_UP &kp C_BRI_UP &trans    &kp C_MUTE    &trans          &trans   &trans &trans
                                        &trans &mo 3 &trans       &trans &trans &trans
            >;
        };

        adjust_layer {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
            bindings = <
   &trans      &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &trans
   &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
   &trans      &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
                                        &trans &trans       &trans &trans &trans &trans
            >;
        };
    };
};
